body {
  // TODO : trouve un truc de fond

}

* {
  font-family: $dosis
}


.mobile-wrapper {
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.bt {
  cursor: pointer;
}

.bt-c {
  position: relative
}

.bt-bot-right {
  position: absolute;
  right: 1%;
  top: auto;
  left: auto;
  bottom: 1%;
}

.bt-top-right {
  position: absolute;
  right: 1%;
  top: 1%;
  left: auto;
  bottom: auto;
}

.bt-ico-fill {
  background-color: red;
  color: white;
  width: 10px;
  height: 10px;
}
//
// .bt-round {
//   color: black;
//   width: 100%;
//   height: 100%;
//   min-width: 25px;
//   min-height: 25px;
//   text-align: center;
//   line-height: 25px;
//   border-radius: 100%;
// }


.hidden {
  visibility: hidden
}

// @media screen and (max-width: 400px) {
//     .connect {
//       form {
//         fieldset {
//           input {
//             width: 200px;
//           }
//           button {
//             width: 250px;
//           }
//         }
//       }
//     }
// }
