#chat {


  #channels {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 2px black;
    width: 100%;
    text-align: center;

    li {
      background-color: lightgrey;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      display: inline-block;

      &.selected {
        background-color: pink
      }
    }
  }


  .window-chat {

    position: fixed;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: -1;
    opacity: 0;

    &.selected {
      opacity: 1;
      z-index: 1
    }

    .channel-name {
      font-size: 20px;
    }

    .messages {
      width: 100%;
      height: 400px;

      .sent {
        text-align: right;
        background-color: lightblue;
      }

      .received {
        text-align: left;
        background-color: lightpink;
      }

      .new {
        text-align: center;
        background-color: yellow;
      }

    }

    form {



      .message-c {
        width: 70%;
        height: 50px;

        .images-c {
          width: 100%;

          .image {
            height: 75px;
            max-width: 75px;
            width: auto;
            display: inline-block;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              background-color: black;
              object-position: center;
            }

          }
        }
      }

      .message-button {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        border: solid 1px black;
      }

      button {
        width: 10%
      }

      .hidden {
        display: none;
      }
    }

  }
}
