#chat {

  header {
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 2px black;
    width: 100%;
    background-color: black;
    height: 50px;
    text-align: center;
  }

  .burger-c {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 20px;
  }

  .logo {
    display: inline-block;

  }

  .bt-notification {
    position: absolute;
    right: 20px;
    left: auto;
    top: 12.5px;
    width: 25px;
    height: 25px;
    .number {
      background-color: white;
    }
  }


  .channels-c, .notifications-c {
    position: fixed;
    top: 50px;
    width: 100vw;
    z-index: 99999;
    background-color: black;
    display: none;
    padding: 0 20px;
    width: 100%;
    text-align: center;

    &.active {
      display: block;
    }

  }

  .channels-c {
    ul {
      text-align: center;
      li {
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        display: inline-block;
        background-color: white;
        color: black;

        &.selected {
          background-color: pink !important;
          color: black;
        }
      }
    }
  }

  .notifications-c {
    padding: 20px;

    li {
      width: 80%;
      text-align: center;
      background-color: white;
      color: black;
      display: inline-block;
      padding: 10px 0;

      p {
        margin-bottom: 10px;
      }

      .bt-remove, .bt-add {
        background-color: black;
        color: white;
        margin-left: 20px;
        padding: 5px;
      }
    }
  }


  .window-chat {
    position: fixed;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: -1;
    opacity: 0;

    &.selected {
      opacity: 1;
      z-index: 1
    }

    .channel-name {
      font-size: 20px;
    }

    .messages {
      width: 100%;
      height: 400px;

      .sent {
        text-align: right;
        background-color: lightblue;
      }

      .received {
        text-align: left;
        background-color: lightpink;
      }

      .new {
        text-align: center;
        background-color: yellow;
      }

    }

    form {



      .message-c {
        width: 70%;
        height: 50px;

        .images-c {
          width: 100%;

          .image {
            height: 75px;
            max-width: 75px;
            width: auto;
            display: inline-block;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              background-color: black;
              object-position: center;
            }

          }
        }
      }

      .message-button {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        border: solid 1px black;
      }

      button {
        width: 10%
      }

      .hidden {
        display: none;
      }
    }

  }
}
