* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

#chat .window-chat {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: -webkit-calc(100vh - 100px);
  height: -moz-calc(100vh - 100px);
  height: calc(100vh - 100px);
  z-index: -1;
  opacity: 0; }
  #chat .window-chat.selected {
    opacity: 1;
    z-index: 1; }
  #chat .window-chat .channel-name {
    font-size: 20px; }
  #chat .window-chat .messages {
    width: 100%;
    height: 400px; }
    #chat .window-chat .messages .sent {
      text-align: right;
      background-color: lightblue; }
    #chat .window-chat .messages .received {
      text-align: left;
      background-color: lightpink; }
    #chat .window-chat .messages .new {
      text-align: center;
      background-color: yellow; }
  #chat .window-chat form .message-c {
    width: 70%;
    height: 50px; }
    #chat .window-chat form .message-c .images-c {
      width: 100%; }
      #chat .window-chat form .message-c .images-c .image {
        height: 75px;
        max-width: 75px;
        width: auto;
        display: inline-block; }
        #chat .window-chat form .message-c .images-c .image img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          background-color: black;
          -o-object-position: center;
          object-position: center; }
  #chat .window-chat form .message-button {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border: solid 1px black; }
  #chat .window-chat form button {
    width: 10%; }
  #chat .window-chat form .hidden {
    display: none; }

body {
  background-color: green; }

.mobile-wrapper {
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  background-color: #DCDCDC;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.bt {
  cursor: pointer; }

.bt-c {
  position: relative; }

.bt-bot-right {
  position: absolute;
  right: 1%;
  top: auto;
  left: auto;
  bottom: 1%; }

.bt-top-right {
  position: absolute;
  right: 1%;
  top: 1%;
  left: auto;
  bottom: auto; }

.bt-ico-fill {
  background-color: red;
  color: white;
  width: 10px;
  height: 10px; }

#chat header {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: white;
  height: 50px;
  padding-left: 50px; }
  #chat header .logo {
    background-color: blue;
    width: 100px;
    height: 50px;
    text-align: left; }
  #chat header .deconnect {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    right: 50px;
    left: auto;
    top: 0; }

#chat nav {
  position: absolute;
  top: 50px;
  width: 100%; }
  #chat nav .nav-first {
    background-color: red;
    width: 100%;
    text-align: center;
    font-size: 0; }
    #chat nav .nav-first li.bt-nav {
      width: -webkit-calc(100% / 3 - 1px);
      width: -moz-calc(100% / 3 - 1px);
      width: calc(100% / 3 - 1px);
      display: inline-block;
      height: 50px;
      font-size: 14px;
      padding-top: 10px;
      position: relative; }
      #chat nav .nav-first li.bt-nav.selected {
        background-color: pink; }
      #chat nav .nav-first li.bt-nav .icon-nav {
        width: 100%;
        height: 30px; }
      #chat nav .nav-first li.bt-nav .number {
        position: absolute;
        top: 5px;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        line-height: 22px;
        text-align: center;
        color: white;
        background-color: red; }
      #chat nav .nav-first li.bt-nav .nav-second {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        min-height: -webkit-calc(100% - 100px);
        min-height: -moz-calc(100% - 100px);
        min-height: calc(100% - 100px);
        z-index: 1;
        text-align: left;
        padding: 50px; }
        #chat nav .nav-first li.bt-nav .nav-second.active {
          display: block; }
        #chat nav .nav-first li.bt-nav .nav-second li {
          border: solid 1px black;
          margin-bottom: 20px;
          padding: 20px 0; }
