* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

#chat #channels {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 2px black;
  width: 100%;
  text-align: center; }
  #chat #channels li {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: inline-block; }
    #chat #channels li.selected {
      background-color: pink; }

#chat .window-chat {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: -webkit-calc(100vh - 100px);
  height: -moz-calc(100vh - 100px);
  height: calc(100vh - 100px);
  z-index: -1;
  opacity: 0; }
  #chat .window-chat.selected {
    opacity: 1;
    z-index: 1; }
  #chat .window-chat .channel-name {
    font-size: 20px; }
  #chat .window-chat .messages {
    width: 100%;
    height: 400px; }
    #chat .window-chat .messages .sent {
      text-align: right;
      background-color: lightblue; }
    #chat .window-chat .messages .received {
      text-align: left;
      background-color: lightpink; }
    #chat .window-chat .messages .new {
      text-align: center;
      background-color: yellow; }
  #chat .window-chat form .message-c {
    width: 70%;
    height: 50px; }
    #chat .window-chat form .message-c .images-c {
      width: 100%; }
      #chat .window-chat form .message-c .images-c .image {
        height: 75px;
        max-width: 75px;
        width: auto;
        display: inline-block; }
        #chat .window-chat form .message-c .images-c .image img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          background-color: black;
          -o-object-position: center;
          object-position: center; }
  #chat .window-chat form .message-button {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border: solid 1px black; }
  #chat .window-chat form button {
    width: 10%; }
  #chat .window-chat form .hidden {
    display: none; }

.bt {
  cursor: pointer; }

.bt-c {
  position: relative; }

.bt-bot-right {
  position: absolute;
  right: 1%;
  top: auto;
  left: auto;
  bottom: 1%; }

.bt-top-right {
  position: absolute;
  right: 1%;
  top: 1%;
  left: auto;
  bottom: auto; }

.bt-ico-fill {
  background-color: red;
  color: white;
  width: 10px;
  height: 10px; }
