@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700");
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

input, button {
  outline: none;
  border: solid 0px transparent;
  background-color: transparent; }

#chat .window-chat {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: -webkit-calc(100vh - 100px);
  height: -moz-calc(100vh - 100px);
  height: calc(100vh - 100px);
  z-index: -1;
  opacity: 0; }
  #chat .window-chat.selected {
    opacity: 1;
    z-index: 1; }
  #chat .window-chat .channel-name {
    font-size: 20px; }
  #chat .window-chat .messages {
    width: 100%;
    height: 400px; }
    #chat .window-chat .messages .sent {
      text-align: right;
      background-color: lightblue; }
    #chat .window-chat .messages .received {
      text-align: left;
      background-color: lightpink; }
    #chat .window-chat .messages .new {
      text-align: center;
      background-color: yellow; }
  #chat .window-chat form .message-c {
    width: 70%;
    height: 50px; }
    #chat .window-chat form .message-c .images-c {
      width: 100%; }
      #chat .window-chat form .message-c .images-c .image {
        height: 75px;
        max-width: 75px;
        width: auto;
        display: inline-block; }
        #chat .window-chat form .message-c .images-c .image img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          background-color: black;
          -o-object-position: center;
          object-position: center; }
  #chat .window-chat form .message-button {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border: solid 1px black; }
  #chat .window-chat form button {
    width: 10%; }
  #chat .window-chat form .hidden {
    display: none; }

* {
  font-family: "Dosis", sans-serif; }

.mobile-wrapper {
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover; }

.bt {
  cursor: pointer; }

.bt-c {
  position: relative; }

.bt-bot-right {
  position: absolute;
  right: 1%;
  top: auto;
  left: auto;
  bottom: 1%; }

.bt-top-right {
  position: absolute;
  right: 1%;
  top: 1%;
  left: auto;
  bottom: auto; }

.bt-ico-fill {
  background-color: red;
  color: white;
  width: 10px;
  height: 10px; }

.hidden {
  visibility: hidden; }

#chat header {
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 50px; }
  #chat header .logo {
    height: 50px;
    text-align: left;
    padding-left: 50px; }
    #chat header .logo svg {
      height: 100%; }
  #chat header .deconnect {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    left: auto;
    top: 0;
    line-height: 50px;
    text-align: right; }
    #chat header .deconnect svg {
      width: 50%;
      height: 50%;
      display: inline-block;
      vertical-align: middle; }

#chat nav {
  position: absolute;
  top: 70px;
  width: 100%; }
  #chat nav .nav-first {
    width: 100%;
    text-align: center;
    font-size: 0; }
    #chat nav .nav-first li.bt-nav, #chat nav .nav-first li.bt-deco {
      width: -webkit-calc(100% / 4 - 1px);
      width: -moz-calc(100% / 4 - 1px);
      width: calc(100% / 4 - 1px);
      display: inline-block;
      height: 50px;
      font-size: 14px;
      padding-top: 10px;
      position: relative; }
      #chat nav .nav-first li.bt-nav.selected, #chat nav .nav-first li.bt-deco.selected {
        padding-top: 0; }
        #chat nav .nav-first li.bt-nav.selected .icon-nav, #chat nav .nav-first li.bt-deco.selected .icon-nav {
          background-color: white;
          width: 50px;
          line-height: 50px;
          height: 50px; }
          #chat nav .nav-first li.bt-nav.selected .icon-nav svg, #chat nav .nav-first li.bt-deco.selected .icon-nav svg {
            width: 77%;
            padding-bottom: 3px; }
            #chat nav .nav-first li.bt-nav.selected .icon-nav svg *, #chat nav .nav-first li.bt-deco.selected .icon-nav svg * {
              fill: #320045; }
      #chat nav .nav-first li.bt-nav .icon-nav, #chat nav .nav-first li.bt-deco .icon-nav {
        height: 30px;
        width: 30px;
        display: inline-block;
        background-color: transparent;
        border-radius: 100%; }
        #chat nav .nav-first li.bt-nav .icon-nav svg, #chat nav .nav-first li.bt-deco .icon-nav svg {
          height: 100%;
          display: inline-block;
          vertical-align: middle; }
      #chat nav .nav-first li.bt-nav .number, #chat nav .nav-first li.bt-deco .number {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        line-height: 22px;
        text-align: center;
        padding-right: 1px;
        color: #780E3B;
        background-color: #FDC67A; }
      #chat nav .nav-first li.bt-nav .nav-second, #chat nav .nav-first li.bt-deco .nav-second {
        display: none;
        position: fixed;
        top: 140px;
        left: 0;
        width: 100%;
        z-index: 1;
        text-align: left;
        background-color: white;
        border-top-right-radius: 37px;
        border-bottom-right-radius: 37px;
        border-top-right-radius: 37px;
        border-bottom-right-radius: 37px;
        background-color: white; }
        #chat nav .nav-first li.bt-nav .nav-second.active, #chat nav .nav-first li.bt-deco .nav-second.active {
          display: block; }
        #chat nav .nav-first li.bt-nav .nav-second li, #chat nav .nav-first li.bt-deco .nav-second li {
          margin-bottom: 20px;
          padding: 20px 50px; }
          #chat nav .nav-first li.bt-nav .nav-second li.form-add form, #chat nav .nav-first li.bt-deco .nav-second li.form-add form {
            background-color: #780E3B;
            border-radius: 50px;
            height: 70px;
            width: 100%;
            font-size: 0;
            padding: 0 50px;
            position: relative; }
            #chat nav .nav-first li.bt-nav .nav-second li.form-add form > *, #chat nav .nav-first li.bt-deco .nav-second li.form-add form > * {
              display: inline-block;
              font-size: 1; }
            #chat nav .nav-first li.bt-nav .nav-second li.form-add form input, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input {
              line-height: 70px;
              color: #FDC67A;
              font-size: 20px;
              width: 100%; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input::-webkit-input-placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input::-webkit-input-placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input:-moz-placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input:-moz-placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input::-moz-placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input::-moz-placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input:-ms-input-placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input:-ms-input-placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input::-ms-input-placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input::-ms-input-placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form input::placeholder, #chat nav .nav-first li.bt-deco .nav-second li.form-add form input::placeholder {
                color: #FDC67A;
                opacity: 1;
                letter-spacing: 1px; }
            #chat nav .nav-first li.bt-nav .nav-second li.form-add form .bt-submit, #chat nav .nav-first li.bt-deco .nav-second li.form-add form .bt-submit {
              width: 40px;
              height: 40px;
              text-align: center;
              position: absolute;
              top: 15px;
              right: -16px; }
              #chat nav .nav-first li.bt-nav .nav-second li.form-add form .bt-submit svg, #chat nav .nav-first li.bt-deco .nav-second li.form-add form .bt-submit svg {
                display: inline-block;
                vertical-align: middle;
                height: 100%; }
        #chat nav .nav-first li.bt-nav .nav-second#notifications li, #chat nav .nav-first li.bt-deco .nav-second#notifications li {
          position: relative; }
          #chat nav .nav-first li.bt-nav .nav-second#notifications li:last-child, #chat nav .nav-first li.bt-deco .nav-second#notifications li:last-child {
            margin-bottom: 0; }
          #chat nav .nav-first li.bt-nav .nav-second#notifications li p, #chat nav .nav-first li.bt-deco .nav-second#notifications li p {
            width: 65%; }
          #chat nav .nav-first li.bt-nav .nav-second#notifications li .bt-c, #chat nav .nav-first li.bt-deco .nav-second#notifications li .bt-c {
            position: absolute;
            top: 50%;
            right: 40px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%); }
            @media screen and (max-width: 500px) {
              #chat nav .nav-first li.bt-nav .nav-second#notifications li .bt-c, #chat nav .nav-first li.bt-deco .nav-second#notifications li .bt-c {
                right: -webkit-calc(100vw - 75vw - (12.5vw + 20px));
                right: -moz-calc(100vw - 75vw - (12.5vw + 20px));
                right: calc(100vw - 75vw - (12.5vw + 20px)); } }
            #chat nav .nav-first li.bt-nav .nav-second#notifications li .bt-c svg, #chat nav .nav-first li.bt-deco .nav-second#notifications li .bt-c svg {
              width: 40px;
              height: 40px; }
              #chat nav .nav-first li.bt-nav .nav-second#notifications li .bt-c svg:first-child, #chat nav .nav-first li.bt-deco .nav-second#notifications li .bt-c svg:first-child {
                margin-right: 30px; }
    #chat nav .nav-first li.bt-deco.selected .icon-nav {
      background-color: #320045; }
      #chat nav .nav-first li.bt-deco.selected .icon-nav svg {
        width: 50%; }
        #chat nav .nav-first li.bt-deco.selected .icon-nav svg * {
          fill: white; }
